# gitginore following files

# IPython
profile_default/
ipython_config.py

# Data files
data/*.txt
data/meta/*.csv
data/meta/*
data/raw_internal/*.txt
data/raw_internal/*
data/*.txt
meta/*.txt
data/*.csv
logs/*.txt
scratch/*.txt
intermediate/*.txt



